/.vs/TCC-Toca-Aqui/v15/Server/sqlite3/*.lock
/Application.Web/bin/Debug/netcoreapp2.0/*.dll
/Application.Web/bin/Debug/netcoreapp2.0/*.pdb
/Domain.DTO/bin/Debug/netcoreapp2.0/*.dll
/Domain.DTO/bin/Debug/netcoreapp2.0/*.pdb
/Domain.DTO/bin/Debug/netcoreapp2.0/*.json
/Domain.DTO/bin/Debug/netcoreapp2.0/*.xml
/Domain.DTO/obj/Debug/netcoreapp2.0/*.cs
/Domain.DTO/obj/Debug/netcoreapp2.0/*.cache
/Domain.DTO/obj/Debug/netcoreapp2.0/*.CopyComplete
/Domain.DTO/obj/Debug/netcoreapp2.0/*.txt
/Domain.DTO/obj/Debug/netcoreapp2.0/*.dll
/Domain.DTO/obj/Debug/netcoreapp2.0/*.pdb
/Domain.DTO/obj/*.cache
/Domain.DTO/obj/*.props
/Domain.DTO/obj/*.targets
/Domain.DTO/obj/*.json
/Domain.Entity/bin/Debug/netcoreapp2.0/*.dll
/Domain.Entity/bin/Debug/netcoreapp2.0/*.pdb
/Repository.Especification/*.csproj
/Repository.Especification/bin/Debug/netcoreapp2.0/*.json
/Repository.Especification/bin/Debug/netcoreapp2.0/*.dll
/Repository.Especification/bin/Debug/netcoreapp2.0/*.pdb
/Repository.Especification/obj/Debug/netcoreapp2.0/*.cs
/Repository.Especification/obj/Debug/netcoreapp2.0/*.cache
/Repository.Especification/obj/Debug/netcoreapp2.0/*.txt
/Repository.Especification/obj/Debug/netcoreapp2.0/*.dll
/Repository.Especification/obj/Debug/netcoreapp2.0/*.pdb
/Repository.Especification/obj/*.cache
/Repository.Especification/obj/*.props
/Repository.Especification/obj/*.targets
/Repository/bin/Debug/netcoreapp2.0/*.dll
/Repository/bin/Debug/netcoreapp2.0/*.pdb
./vs
*.dll
*.cache
node_modules/

/Application.Mobile/node_modules
node_modules
