<ion-header>
  <ion-navbar>
    <button ion-button enable-menu-with-back-views="true" menuToggle="left">
      <ion-icon ></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form #formbanda="ngForm">
    
      <ion-item *ngIf="portifolio.Fotos.length < 5"  item-end>
        <ion-avatar (click)="getPhoto()">
          <img src="../../assets/imgs/61050.png" />
        </ion-avatar>
      </ion-item>
      <ion-item *ngFor="let foto of portifolio.Fotos">
          <ion-avatar>
            <img [src]="'Data:image/jpeg;base64,'+foto.Foto" />
          </ion-avatar>
        </ion-item>

    <ion-item>
      <ion-textarea name="Descricao" [(ngModel)]="portifolio.Descricao" placeholder="descrição" required></ion-textarea>
    </ion-item>
    
    
    
    
    
    <br>
    <div text-right>
      <button ion-button block  [disabled]="!formbanda.form.valid" (click)="criarPortifolio(portifolio)">Cadastrar</button>
    </div>
  </form>
  
</ion-content>